@model List<TesteAPI.Models.Domain.Venda>


<div class="container" style="margin-top: 15rem;">
    <table class="table table-bordered table-dark">
        <thead>
            <tr class="table-danger">
                <th>ID Venda</th>
                <th>ID Cliente</th>
                <th>Nome do Cliente</th>
                <th>ID Produto</th>
                <th>Descrição do Produto</th>
                <th>Quantidade da venda</th>
                <th>Valor unitário das vendas</th>
                <th>Valor total</th>
                <th>Horário venda</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var venda in Model)
            {
                <tr>
                    <td>@venda.IdVenda</td>
                    <td>@venda.IdCliente</td>
                    <td>@venda.Cliente.NmCliente</td>
                    <td>@venda.IdProduto</td>
                    <td>@venda.Produto.DscProduto</td>
                    <td>@venda.QtdVenda</td>
                    <td>@venda.VlrUnitarioVenda</td>
                    <td>@venda.VlrTotalVenda</td>
                    <td>@venda.DthVenda</td>
                    <td class="d-flex justify-content-center align-items-center">
                        <a href="Editar/@venda.IdVenda"><i class="text-danger fa fa-lg fa-edit"></i></a>
                        <a href="#" class="excluir-link m-3" data-id="@venda.IdVenda"><i class="text-danger fa fa-lg fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-end align-items-center m-4">
    <a class="nav-link text-danger d-flex justify-content-center align-items-center m-4" asp-area="" asp-controller="Venda" asp-action="Criar">
        <i class="fa fa-plus m-2"></i> Add
     </a>
</div>

<div class="modal fade" id="confirmarExclusaoModal" tabindex="-1" role="dialog" aria-labelledby="confirmarExclusaoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmarExclusaoModalLabel">Confirmar Exclusão</h5>
                <button type="button" class="btn btn-secondary close cancelar-modal" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Deseja realmente excluir o registro?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary cancelar-modal" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-outline-light" id="confirmarExclusaoBtn">Excluir</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        var idExclusao; 

        $('.excluir-link').click(function (e) {
            e.preventDefault();
            idExclusao = $(this).data('id');
            $('#confirmarExclusaoModal').modal('show');
        });

        $('#confirmarExclusaoBtn').click(function () {

            console.log("excluir");
            window.location.href = '/Venda/Excluir/' + idExclusao;
        });

        $('.cancelar-modal').click(function () {

            $('#confirmarExclusaoModal').modal('hide');
        })
    });
</script>

@*<script>
    $(document).ready(function () {
        $('.btn-editar').click(function () {
            var idCliente = $(this).data('id');

            console.log("idCliente");
            console.log(idCliente);

            $.ajax({
                url: '/Cliente/Editar/' + idCliente,
                type: 'GET',
                success: function (result) {
                    console.log("sucesso")
                },
                error: function () {
                    console.log("erro")
                }
            });
        });
    });
</script>*@